/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}


/*

bu setir olan butun kodlara: box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);


color: #3f4254;
border-color: #69b3ff;

bunlari elave etdim
  */

/* my edit */
/*[class*='col-'] {
 float:left;
}*/


.bg-body{
	background: #f1f2f6 !important;
}
.pearl{
	color: #fefefe;
}
.menu-bg, .bg-pearl{
	background-color: #fefefe;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px!important;
  font-weight: 400;
  /* font-family: Poppins,Helvetica,sans-serif; */
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




body{
	margin: 0;
    font-family: Poppins,Helvetica,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3f4254;
    text-align: left;
    background-color: #fff;
  }

a {
  text-decoration: none !important;
}
/*
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
*/

.bg-light-white{
    background-color:#fff!important
}
.bg-hover-light-white{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-white:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#fff!important
}
.bg-diagonal-light-white:before{
    background-color:#fff!important
}
.bg-light-primary{
    background-color:#F2F2F2!important
}
.bg-hover-light-primary{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-primary:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#F2F2F2!important
}
.bg-diagonal-light-primary:before{
    background-color:#F2F2F2!important
}
.bg-light-secondary{
    background-color:#ebedf3!important
}
.bg-hover-light-secondary{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-secondary:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#ebedf3!important
}
.bg-diagonal-light-secondary:before{
    background-color:#ebedf3!important
}
.bg-light-success{
    background-color:#c9f7f5!important
}
.bg-hover-light-success{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-success:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#c9f7f5!important
}
.bg-diagonal-light-success:before{
    background-color:#c9f7f5!important
}
.bg-light-info{
    background-color:#eee5ff!important
}
.bg-hover-light-info{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-info:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#eee5ff!important
}
.bg-diagonal-light-info:before{
    background-color:#eee5ff!important
}
.bg-light-warning{
    background-color:#fff4de!important
}
.bg-hover-light-warning{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-warning:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#fff4de!important
}
.bg-diagonal-light-warning:before{
    background-color:#fff4de!important
}
.bg-light-danger{
    background-color:#ffe2e5!important
}
.bg-hover-light-danger{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-danger:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#ffe2e5!important
}
.bg-diagonal-light-danger:before{
    background-color:#ffe2e5!important
}
.bg-light-light{
    background-color:#f3f6f9!important
}
.bg-hover-light-light{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-light:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#f3f6f9!important
}
.bg-diagonal-light-light:before{
    background-color:#f3f6f9!important
}
.bg-light-dark{
    background-color:#d1d3e0!important
}
.bg-hover-light-dark{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    cursor:pointer
}
.bg-hover-light-dark:hover{
    -webkit-transition:all .15s ease;
    transition:all .15s ease;
    background-color:#d1d3e0!important
}
.bg-diagonal-light-dark:before{
    background-color:#d1d3e0!important
}



.label.label-inline{
    min-width: 100px;
    width:auto;
    padding:.15rem .75rem;
    border-radius:.42rem
}
.label.label-inline.label-md{
    padding:.8rem .6rem
}
.label.label-inline.label-lg{
    padding:.9rem .75rem
}
.label.label-inline.label-xl{
    padding:1rem .85rem
}



.table.table-vertical-center td,.table.table-vertical-center th{
    vertical-align:middle
}





.navbar .nav-item:not(:last-child) {
  /*margin-right: 35px;*/
}

.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}
.menu-text {
    color: #6c7293 !important;
    font-weight: 500 !important;
}

/*.nav-item a.menu-text:hover span, 
.nav-item a.menu-text:hover span i,
.show.dropdown .dropdown-toggle::after {
    color: #eabf9f !important;
    transition: 0.3s;
    
}*/

.nav-item {
  cursor: pointer;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.nav-link.active, .nav-item:hover .nav-link {
  /*color: #eabf9f !important;*/
  color: #1e90ff !important;
/*  background-color: rgba(77,89,149,.06);
  border-radius: 4px;*/
}

.nav-item:hover {
    background-color: rgba(77,89,149,.06);
    border-radius: 4px;
}


.navbar-toggler span {
  color: #3f4254;
}

.dropdown-item.active,
.dropdown-item:hover, .dropdown-item:focus .dropdown-item.active, .dropdown-item:active
{
  background-color: transparent; !important;
  color: #1e90ff !important;
}


.dropdown-item {
  padding: 0px !important;
}

ul.dropdown-menu {
  padding: 0px !important;
}
.dropdown-menu li{
  padding: 15px;
}


.profile {
  padding: 10px;
}

.icon i {
  height: 20px !important;
  width: 20px !important;
}


.fixed-bottom {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
      

}

.corparate {
  padding: 20px;
    text-align: center;
}
@media (max-width: 992px) {
  
  .nav-link {
    margin-left: 10px !important;
  }

}


@media (min-width: 992px) {

  .navbar {
    height: 65px;
}

  .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}

  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}




/*dropdown-sub-menu*/
/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .dropdown-menu li{
    position: relative;
  }
  .dropdown-menu .submenu{ 
    display: none;
    position: absolute;
    left:100%; top:0px;
  }
  .dropdown-menu .submenu-left{ 
    right:100%; left:auto;
  }

  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
} 
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

.dropdown-menu .dropdown-menu{
    margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
}

} 
/* ============ small devices .end// ============ */
/*dropdown-sub-menu*/

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}



.form-control:focus{

}
.input-group{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }


.quick-search-form .form-control {
    background-color: transparent;
    outline: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    border-radius: 0;
  }



.quick-search-form .input-group-text {
  background-color:transparent !important;
  border:none !important;
}



.cards {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff !important;
    background-clip: border-box;
    border: 1px solid #ebedf3;
    border-radius: .42rem;
    min-height: 500px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-left: none;
  border-right: none;
  border-radius: 0px;
  background-color: transparent;
}

.nav-tabs .nav-link  {
  border: none ;
}

.nav-tabs li {
  float: right !important;
}


.card-header, .card-footer {
  background-color: transparent !important;
}

.hidden {
  display: none;
}
.fixed-tr {
  position: fixed !important;
  top: 65px !important;
  right: 0 !important;
}

.select2-dropdown, .select2-search__field,  .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single:valid, .select2-container--default .select2-selection--single::after, .select2-container--default .select2-selection--single:visited {
  background-color:white;
  border:1px solid #69b3ff !important;
}


.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none !important;
}
